{% extends "base.html" %}
{% block content %}

<div class="form-wrapper">
    <h2 class="title">Edit comment</h2>

    <form method="POST" action="/comments/edited-save/{{comment.uuid }}">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Current value</th>
                <th scope="col">New value</th>
            </tr>
            </thead>
            <ta>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.name.label }}</th>
                        <td>{{ comment.name }}</td>
                        <td> {{ form.name(size=50) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.description.label }}</th>
                        <td>{{ comment.description }}</td>
                        <td> {{ form.description(size=50) }}</td>
                    </tr>
                </fieldset>

                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.rating.label }}</th>
                        <td>{{ comment.rating }}</td>
                        <td> {{ form.rating(size=50) }}</td>
                    </tr>
                </fieldset>
            </ta>
        </table>

        {{ form.submit }}

    </form>
</div>
{% endblock %}