{% extends "base.html" %}
{% block content %}



<h3>Comments({{com_quant}})</h3>
<table class="table">
    <thead>
    <tr>

        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {%for comment in comments %}
    <tr>
        <td>{{ comment.name }}</td>
        <td>{{ comment.description }}</td>
        <td>{{ comment.rating }}</td>
        <td><a href="{{ url_for('comment_edit_form', uuid=comment.uuid) }}">Edit</a></td>
        <td><a href="{{ url_for('comment_delete', uuid=comment.uuid) }}">Delete</a></td>
    </tr>
    {%endfor%}

    <p><a href="{{ url_for('comment_add_form', impression_id=impression_id) }}">Add new comment</a></p>

    {% endblock %}
