{% extends "base.html" %}
{% block content %}

<div class="form-wrapper">
    <h2 class="title">Add new comment</h2>

    <form method="POST" action={{ url_for('comment_new_save', impression_id=impression_id) }} >
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <ta>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.name.label }}</th>
                        <td> {{ form.name(size=100) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.description.label }}</th>
                        <td> {{ form.description(size=100) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.rating.label }}</th>
                        <td> {{ form.rating(size=100) }}</td>
                    </tr>
                </fieldset>
            </ta>
        </table>


        {{ form.submit }}

    </form>

</div>

{% endblock %}