{% extends "base.html" %}
{% block content %}

<div class="form-wrapper">
    <h2 class="title">Add new impression</h2>
    <form method="POST" action="/impressions/new-save">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <ta>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.title.label }}</th>
                        <td> {{ form.title(size=100) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.description.label }}</th>
                        <td> {{ form.description(size=100) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.executor.label }}</th>
                        <td> {{ form.executor(size=100) }}</td>
                    </tr>
                </fieldset>


                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.place.label }}</th>
                        <td> {{ form.place(size=100) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.duration.label }}</th>
                        <td> {{ form.duration(size=100) }} hour(s)</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.price.label }}</th>
                        <td> {{ form.price(size=100) }}UAH</td>
                    </tr>
                </fieldset>
            </ta>
        </table>
        {{ form.submit }}
    </form>
</div>

{% endblock %}