{% extends "base.html" %}
{% block content %}

<div class="form-wrapper">
    <h2 class="title">Edit impression</h2>

    <form method="POST" action="/impressions/edited-save/{{impression.uuid }}">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Current value</th>
                <th scope="col">New value</th>
            </tr>
            </thead>
            <ta>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.title.label }}</th>
                        <td>{{ impression.title }}</td>
                        <td> {{ form.title(size=50) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.description.label }}</th>
                        <td>{{ impression.description }}</td>
                        <td> {{ form.description(size=50) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.executor.label }}</th>
                        <td>{{ impression.executor }}</td>
                        <td> {{ form.executor(size=50) }}</td>
                    </tr>
                </fieldset>


                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.place.label }}</th>
                        <td>{{ impression.place }}</td>
                        <td> {{ form.place(size=50) }}</td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.duration.label }}</th>
                        <td>{{ impression.duration }} hour(s)</td>
                        <td> {{ form.duration(size=50) }} </td>
                    </tr>
                </fieldset>

                <fieldset class="form-field">
                    <tr>
                        <th scope="row"> {{ form.price.label }}</th>
                        <td>{{ impression.price }} UAH</td>
                        <td> {{ form.price(size=50) }}</td>
                    </tr>
                </fieldset>
            </ta>
        </table>

        {{ form.submit }}

    </form>
</div>
{% endblock %}